#form{border:1px solid red;
      height: 300px;
      width: 400px;
      margin-left: 40%;
      margin-top: 15%;
      background-color:aquamarine}
.text{color: red;
      font-size:25px}
#pwd{margin-left:2px;
     margin-top:40px}
.sub{margin-left: 174px;
     margin-top:60spx;
     color: blueviolet;}
.red{color: red;}
.green{color: green}
.fa-solid{color:red}
#pwdout2{height: 10px;
         width: 100%;
         color: rgb(238, 0, 0)}
