#form1{border: 1px solid red;
       height:400px;
       width: 40%;
       background-color: aquamarine;}
    .text{color: red;
         font-size: 35px;}
    .one{font-size: 30px;
        margin-top: 78px;
        margin-left: 31%;
        border-radius: 20px;
        color: blueviolet}
    .one pre{margin: 10px;}
    .two{    margin-left: 16px;
        margin-top: 78px;
        position: absolute;
        font-size: 30px;
        border-radius: 20px;
        color: blueviolet;
    }}
        